
<!DOCTYPE html>
  <head>
     <link href="./static/css/index.css" rel="stylesheet">    
  </head>
  <body>
  
<ul id="menu">
	<li>
		<a href="#">Demographic Data</a>
		<ul>
			<li>
				<a href="/demo/DemogMesures" target="myDemoFrame" onclick="return go(this);">Demographic Mesures</a>				
			</li>
			<li>
				<a href="/demo/race" target="myDemoFrame" onclick="return go(this);">Race</a>				
			</li>
			<li>
				<a href="/demo/age" target="myDemoFrame" onclick="return go(this);">Age</a>
			</li>
			<li>
				<a href="/demo/height" target="myDemoFrame" onclick="return go(this);">Height</a>
			</li>
			<li>
				<a href="/demo/StackedToGrouped" target="myDemoFrame" onclick="return go(this);">Weight</a>
			</li>
		</ul>
	<li>
	<li>
		<a href="#">Outcomes</a> 
		<ul>
			<li>
				<a href="/outcomes/finalresult" target="myDemoFrame" onclick="return go(this);">Final Results</a>
			</li>
			<li>
				<a href="/outcomes/interactiveD3" target="myDemoFrame" onclick="return go(this);">Interactive D3 </a>
			</li>
			<li>
				<a href="#">Child F</a>
			</li>
			<li>
				<a href="#">Child G</a>
			</li>
		</ul>
	<li>
	<li>
		<a href="#">Adverse Events</a>
		<ul>
			<li>
				<a href="#">Child H</a>
			</li>
			<li>
				<a href="#">Child I</a>
			</li>
			<li>
				<a href="#">Child J</a>
			</li>
			<li>
				<a href="#">Child K</a>
			</li>
			<li>
				<a href="#">Child L</a>
			</li>
		</ul>
	<li>
	<li>
		<a href="#">Lab Tests</a>
		<ul>
			<li>
				<a href="#">Child M</a>
			</li>
			<li>
				<a href="#">Child N</a>
			</li>
			<li>
				<a href="#">Child O</a>
			</li>
			<li>
				<a href="#">Child P</a>
			</li>
			<li>
				<a href="#">Child Q</a>
			</li>
			<li>
				<a href="#">Child R</a>
			</li>
		</ul>
	<li>
</ul>
<iframe name="myDemoFrame" src="/test" width="1000" height="1000" style="border:none"></iframe>
</body>
</html>

